# Config for GIT account {{{configDetails.email}}}
[user]
    name = {{{configDetails.name}}}
    email = {{{configDetails.email}}}
[core]
    sshCommand = ssh -F {{{paths.sshConfig}}}
{{#configDetails.signYourWork}}
[gpg]
    format = ssh
[commit]
    gpgsign = true
[push]
    gpgsign = if-asked
[tag]
    gpgsign = true
[user]
    signingkey = {{{paths.privateKey}}}
{{/configDetails.signYourWork}}
