# Config for GIT account {{{configDetails.email}}}
Host {{{configDetails.host}}}
    IgnoreUnknown AddKeysToAgent
    HostName {{{configDetails.host}}}
    User git
    AddKeysToAgent yes
    IdentitiesOnly yes
    IdentityFile {{{paths.privateKey}}}
